In [3]:
!git clone https://github.com/riyas036/Nobel-_Prize-_DataFrame.git

Cloning into 'Nobel-_Prize-_DataFrame'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), 120.77 KiB | 1.37 MiB/s, done.

The Nobel Prize exist since 1901 and in this data set we are going to analyze all awards given since that date, in addition to Matplotlib we will use another library to make libraries called Seaborn. The project is created using Colab.

In [4]:
import pandas as pd
import seaborn as sns
import numpy as np


# Reading in the Nobel Prize data
nobel = pd.read_csv('/content/Nobel-_Prize-_DataFrame/complete.csv')
# Taking a look at the first several winners
nobel.head()

,awardYear,category,categoryFullName,sortOrder,portion,prizeAmount,prizeAmountAdjusted,dateAwarded,prizeStatus,motivation,...,org_founded_country,org_founded_countryNow,org_founded_locationString,ind_or_org,residence_1,residence_2,affiliation_1,affiliation_2,affiliation_3,affiliation_4
0,2001,Economic Sciences,The Sveriges Riksbank Prize in Economic Scienc...,2,1/3,10000000,12295082,2001-10-10,received,for their analyses of markets with asymmetric ...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Stanford University, Stanford, CA, USA",NaN,NaN,NaN
1,1975,Physics,The Nobel Prize in Physics,1,1/3,630000,3404179,1975-10-17,received,for the discovery of the connection between co...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Niels Bohr Institute, Copenhagen, Denmark",NaN,NaN,NaN
2,2004,Chemistry,The Nobel Prize in Chemistry,1,1/3,10000000,11762861,2004-10-06,received,for the discovery of ubiquitin-mediated protei...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Technion - Israel Institute of Technology, Hai...",NaN,NaN,NaN
3,1982,Chemistry,The Nobel Prize in Chemistry,1,1,1150000,3102518,1982-10-18,received,for his development of crystallographic electr...,...,NaN,NaN,NaN,Individual,NaN,NaN,"MRC Laboratory of Molecular Biology, Cambridge...",NaN,NaN,NaN
4,1979,Physics,The Nobel Prize in Physics,2,1/3,800000,2988048,1979-10-15,received,for their contributions to the theory of the u...,...,NaN,NaN,NaN,Individual,NaN,NaN,"International Centre for Theoretical Physics, ...","Imperial College, London, United Kingdom",NaN,NaN

Warning: Total number of columns (52) exceeds max_columns (20) limiting to first (20) columns.
Warning: Total number of columns (52) exceeds max_columns (20) limiting to first (20) columns.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

 Now the dataset is ready to use, we can analyze it. The firsts questions can be

  * Who won more Nobel Prizes, women or men?
  * What country has won more Nobel Prizes?

In [5]:
#First see all the rows in the DataFrame
display(len(nobel))
print()
#Amount of Nobel Prizes by sex
display(nobel['sex'].value_counts())
print()
#Nobel Pizes by country
nobel['birth_country'].value_counts().head(10)

950

Physiology or Medicine    219
Physics                   213
Chemistry                 184
Peace                     134
Literature                116
Economic Sciences          84
Name: category, dtype: int64

USA                274
United Kingdom      87
Germany             77
France              53
Sweden              29
Japan               27
Canada              20
Switzerland         19
the Netherlands     18
Russia              17
Name: birth_country, dtype: int64

In [6]:
# Calculating the proportion of USA born winners per decade
nobel['usa_born_winner'] = nobel['birth_country'] == 'United States of America'


# Calculate the decade
nobel['decade'] = (np.floor(nobel['year'] / 10) * 10).astype(int)


# Calculate the mean by deacde
prop_usa_winners = nobel.groupby('decade', as_index=False)['usa_born_winner'].mean()
prop_usa_winners

KeyError: ignored